section {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin: 20px;
}
section >h1{
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    height: 60px;
    display: block;
}

section >button{
    padding: 10px 10px;
    width: 100px;
    align-self: center;
}

section >div{
    display: flex;
    margin: 20px;
    justify-content: center;
}

article{
    
}